* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

.profile-body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.gb-color-grey {
    background-color: #f0f0f0;
}

.profile-heading2 {
    font-size: 1.5rem;
}

.profile-heading3 {
    font-size: 1.2rem;

}

/* FLEX ASIDE */
.flex-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    padding-top: 30px;
}

.profile-id {
    padding: 10px 0 0 0;
}

.profile-photo {
    height: 200px;
    clip-path: circle(50% at 50% 50%);
}

.username {
    padding: 15px 0 0 0;
}

.research-competences {
    width: 80%;
}

.research-competence {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 10px 0 0 -2px;
    padding: 10px 0 10px 30px;
    border-radius: 7px;
    width: 100%;
}

.research-competence-icon {
    height: 36px;
}

.research-competence-info {
    margin: 10px 0 0 20px;
}

.profile-contact {
    border-radius: 22px;
    width: 80%;
    margin: 0 0 30px 0;
    padding: 30px 30px 20px 30px;
}

.span {
    font-weight: bold !important;
    color: #1d1d1d !important;
}

.profile-btn {
    background-color: #ff6c00;
    border-radius: 20px;
    color: white;
    width: 70%;
    height: 34px;
    border: none;
}

/* END FLEX ASIDE */



/* PROFILE MAIN */

.profile-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
}

.profile-navbar {
    display: flex;
    align-items: center;
    padding: 0 50px 0 0;
}

.profile-btn-hambuger {
    height: 60px;

}

.profile-logo {
    display: block;
    margin: auto;
}

.logo {
    height: 180px;
}

.profile-competence-propose {
    width: 90%;
}
.propose-competences {
    display: flex;
}

.propose-competence {
    border-radius: 20px;
    padding: 30px;
    margin: 0 20px 0 0;
}

.propose-competence-icon {
    height: 60px;
    margin: 0 0 20px 0;
}

.profile-info {
    display: flex;
    width: 90%;
}

.profile-info-activity {
    width: 50%;
}

.profile-avis-et-loisir {
    border-radius: 20px;
    margin: 20px 0 0 0;
    padding: 20px;
    width: 100%;
}

.user-avis-photo {
    height: 60px;
    margin-right: 10px;
}

.profile-activity {
    color: #fff;
    background-color: #00dec6;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    margin: 20px 0 0 20px;
    width: 46%;
}

.profile-progress-bar {
    display: flex;
    align-items: center;
    text-align: right;
}

.note {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
}

.give {
    display: flex;
}

.sm-square {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.sm-square-coral {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff6c00;
}

.activity-date {
    font-size: 1rem;
    text-align: right;
}


@media screen and ((min-width: 901px) and (max-width: 1366px)) {

    .profile-body {
        font-size: 0.9rem;
    }

    .profile-photo {
        height: 160px;
        clip-path: circle(50% at 50% 50%);
    }

    .profile-heading2 {
        font-size: 1.3rem;
    }
    
    .profile-heading3 {
        font-size: 1.1rem;
    
    }

    .profile-contact {
        margin: 0 0 30px 0;
        padding: 20px;
    }

    .logo {
        height: 160px;
    }

    .user-avis-photo {
        height: 40px;
        margin-right: 10px;
    }

    .activity-date {
        font-size: 0.8rem;
    }

}


@media screen and ((min-width: 0px) and (max-width: 900px)) {

    .profile-body {
        flex-direction: column;
    }

    .flex-aside {
        width: 100%;
    }

    .profile-navbar {
        display: none;
    }

    .profile-main {
        padding: 50px 0 0 0;
        width: 100%;
        background-color: white;
    }

    .profile-competence-propose {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .propose-competences {
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }

    .propose-competence {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0 !important;
    align-items: center;
    margin: 5px 0 5px 39px;
    padding: 10px 0 0 30px;
    border-radius: 7px;
    width: 80%;
    }

    .propose-competence-icon {
        height: 36px;
    }

    .text-mobile {
        display: none;
    }

    .profile-heading2-mobile {
        font-size: 1rem;
        padding: 0 0 0 20px;
    }

    .profile-info {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background-color: #f0f0f0;
    }

    .profile-info-activity {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 30px 0 0 0;
        
    }

    .profile-avis-et-loisir {
        width: 80%;
    }

    .user-avis-photo {
        height: 36px;
    }

    .profile-activity {
        width: 80%;
        text-align: center;
        margin: 40px auto;
    }
}