* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

.body {
    
}

.gb-color-grey {
    background-color: #f0f0f0;
}

.profile-heading2 {
    font-size: 1.5rem;
}

.profile-heading3 {
    font-size: 1.2rem;

}

/* FLEX ASIDE */
.flex-aside {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.profile-id {
    padding: 30px 0 20px 0;
}

.profile-photo {
    height: 200px;
    clip-path: circle(50% at 50% 50%);
}

.username {
    padding: 15px 0 0 0;
}

.research-competences {
    width: 80%;
}

.research-competence {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 10px 0 0 -2px;
    padding: 10px 0 10px 30px;
    border-radius: 7px;
    width: 100%;
}

.research-competence-icon {
    height: 36px;
}

.research-competence-info {
    margin: 10px 0 0 20px;
}

.profile-contact {
    border-radius: 22px;
    width: 80%;
    margin: 30px 0 0 0;
    padding: 30px 30px 20px 30px;
}

.span {
    font-weight: bold !important;
    color: #1d1d1d !important;
}

.profile-btn {
    background-color: #ff6c00;
    border-radius: 20px;
    color: white;
    width: 70%;
    height: 40px;
}

/* END FLEX ASIDE */



/* PROFILE MAIN */

.profile-main {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
}

.profile-navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 50px 0 0;
}

.profile-btn-hambuger {
    height: 60px;

}

.profile-logo {
    display: block;
    margin: auto;
}

.logo {
    height: 220px;
}

.propose-competences {
    display: flex;
}

.propose-competence {
    width: 330px;
    border-radius: 20px;
    padding: 30px;
    margin: 0 20px 0px 0;
}

.propose-competence-icon {
    height: 60px;
    margin: 0 0 20px 0;
}

.profile-info {
    display: flex;
}

.loisir {
    width: 45%;
}

.profile-avis-et-loisir {
    border-radius: 20px;
    margin: 20px 20px 0 0;
    padding: 20px;
    width: 500px;
}

.user-avis-photo {
    height: 60px;
    margin-right: 10px;
}

.profile-activity {
    background-color: #00dec6;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    margin-top: 20px;
    width: 510px;
}

.note {
    width: 70px;
    height: 50px;

}

.ms-square {
    width: 20px;
    height: 20px;
    background-color: #ff6c00;
}